<div class="contents row">
  <div class="success">
    <% messages = 
      ['“노력은 사람을 백신하지 않는다"<br>努力は人を裏切らない',
        '“못 하면 이번 기회에 하게하면 된다"<br>できないならこれを機にできるようになればいい',
        '”꾸준하게 지속하는 것이 중요하다"<br>地道に続けることが重要だ',
        '“가능한 상황은 내가 만들면 되는거다"<br>可能な状況は自分が作ればいい',
        '“작은 노력이 큰 꿈을 이뤄낸다"<br>小さな努力が大きな夢を叶える',
        '“열정 없이 사는 것은 죽은 것과 같다"<br>情熱なく生きるのは死んでいるのと同じだ',
        '“즐기는 자가 노력하는 자를 이긴다"<br>楽しむ者は努力する者に勝つ',
        '“뜻이 있는 곳에 길이 있다"<br>意志のあるところに道あり',
        '“시작이 반이다"<br>始めたら半分は達成したようなもの',
        '"고생 끝에 낙이 온다"<br>苦労の末楽しみが来る',
        '"게으른 예술가가 만든 명작은 없다"<br>怠惰な芸術家が作った名作はない',
        '"열 번 찍어 안 넘어가는 나무 없다"<br>10回切って倒れない木はない',
        '”천천히 가는 것을 두려워말고 가다가 멈추는 것을 두려워하라"<br>ゆっくり行くことを恐れずに進み、停止することを恐れよ'] %>
    <% random_message = messages.sample %>
    
    <% if action_name == 'create' %>
      <h3>単語登録が完了しました。</h3>
    <% elsif action_name == 'update' %>
      <h3>編集が完了しました。</h3>
    <% end %>
    <p><%= random_message.html_safe %></p>
    <%= link_to '単語一覧へ戻る', dictionaries_path, class: "btn" %>
  </div>
</div>
