<div class="count">
  <% if user_signed_in? %>
    <% user_posts = current_user.dictionaries.search(params[:keyword]) %>
    検索結果は<%= user_posts.size %>件です
  <% end %>
</div>
<div class="words_contents">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <form class="search_container" action="<%= search_dictionaries_path %>" method="get">
    <input type="text" size="25" name="keyword" class="search-input">
    <input type="submit" value="&#xf002">
    <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
  </form>
  <div class="count"><%= link_to "辞書登録", new_dictionary_path, class: "post bordered-link"%></div>
</div>
<div class="contents row">
  <% if user_signed_in? %>
    <% @dictionaries.where(user_id: current_user.id).each do |dictionary| %>
      <%= render partial: "dictionary", locals: { dictionary: dictionary } %>
    <% end %>
  <% end %>
</div>
